$primary-color: #3498db;
$secondary-color: #09044a;
$background-color: #d1e7f5;
$text-color: #333;

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: $text-color;

  }
  .head{
    color: $primary-color;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    background-color: white;
  }
  .navigation {
    background-color:white;
    // text-align: right;
    padding: 10px 20px;
    // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color : $text-color;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  
      li {
        margin-right: 20px;
  
        a {
          text-decoration: none;
          color: $text-color;
          font-weight: bold;
          padding: 5px 10px;
          border-radius: 4px;
  
          &.active {
            background-color: $secondary-color;
            color: #fff;
          }
  
          &:hover {
            background-color: lighten($primary-color, 40%);
          }
        }
      }
    }
  }
  
  .page {
    text-align: center;
    h1 {
      color: $primary-color;
    }
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    width: 95%;
  
    .product-card {
      
      background-color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    //   flex: 1 1 calc(18% - 20px);
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      text-align: center;
      border-radius: 4px;
  
      img {
        max-width:350px;
        max-height: 450px;
        border-radius: 4px;
      }
  
      h3 {
        margin: 10px 0 5px;
        font-size: 1.1rem;
      }
  
      p {
        margin: 0;
        font-weight: bold;
      }
    }
  }
